<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/style.css" />
		<title>Input</title>
	</head>

	<body>
		<header class="header flex">
			<div class="brand__text grid-center">Magnificent UI</div>
			<div class="social__handles">
				<a class="social__links theme__toggler">
					<i class="bx bxs-moon"></i>
				</a>
				<a href="#" class="social__links">
					<i class="bx bxl-twitter"></i>
				</a>
				<a href="#" class="social__links">
					<i class="bx bxl-linkedin-square"></i>
				</a>
				<a href="" class="social__links">
					<i class="bx bxl-github"></i>
				</a>
			</div>
		</header>
		<nav class="nav flex-col-align-center">
			<h1 class="h4 nav__head">Get Started</h1>
			<ul class="nav__items flex-col-align-center">
				<li class="nav__list">
					<a class="nav__links" href="/src/components/usage/usage.html"
						>Usage</a
					>
				</li>
				<li class="nav__list"><a class="nav__links" href="#">Colors</a></li>
				<li class="nav__list">
					<a
						class="nav__links"
						href="/src/components/typography/typography.html"
						>Typography</a
					>
				</li>
			</ul>
			<h1 class="h4 nav__head">Components</h1>
			<ul class="nav__items flex-col-align-center">
				<li class="nav__list">
					<a class="nav__links" href="/src/components/avatar/avatar.html"
						>Avatar</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/badge/badge.html"
						>Badge</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/alert/alert.html"
						>Alert</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/button/button.html"
						>Button</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/card/card.html">Card</a>
				</li>
				<li class="nav__list">
					<a
						class="nav__links nav_link--selected"
						href="/src/components/input/input.html"
						>Input</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/image/image.html"
						>Image</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/snackbar/snackbar.html"
						>Snackbar</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/lists/lists.html"
						>Lists</a
					>
				</li>
			</ul>
		</nav>

		<!-- Main Start -->

		<main class="main">
			<!-- ----INPUT COMPONENT----- -->

			<h2 class="h2 m_doc__heading">Input</h2>
			<p class="m_doc__para"></p>

			<!-- code snippet container -->
			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
					// CSS
					@import url("https://magnificentui.netlify.app/src/components/input/input.css");

					// HTML
					<link rel="stylesheet" href="https://magnificentui.netlify.app/src/components/input/input.css">
				</script>
			</div>

			<!-- Responsive Image -->
			<h3>Input Component</h3>

			<p class="m_doc__para">
				The Input HTML element is used to create interactive controls for
				web-based forms in order to accept data from the user.
			</p>

			<!-- component display container -->
			<div class="comp_container flex-center">
				<form class="form_wrapper flex" method="get">
					<div class="form__input_box">
						<label class="label" for="name">Full Name</label>
						<input
							class="input_box"
							type="text"
							placeholder="John Doe"
							name="name"
						/>
					</div>

					<div class="form__input_box">
						<label class="label" for="username">Username</label>
						<input
							class="input_box"
							type="text"
							name="username"
							placeholder="jonhdoe123"
						/>
					</div>

					<div class="form__input_box">
						<label class="label" for="Email">Email</label>
						<input
							class="input_box"
							type="email"
							placeholder="something@yourmail.com"
							name="email"
							required
						/>
					</div>

					<div class="form__input_box">
						<label class="label" for="password">Password:</label>
						<input class="input_box" type="password" name="password" required />
					</div>

					<div class="form__radio_box flex-center">
						<label class="label" for="lname">Radio buttons:</label>
						<input class="radio" type="radio" name="radio" />
						<input class="radio" type="radio" name="radio" />
					</div>

					<input class="date" type="date" name="slider" />
					<input
						class="file_picker"
						type="file"
						class="btn btn--outline--primary"
						name="file"
					/>
					<input class="range" type="range" name="range" />
					<input
						class="reset btn btn--outline--primary"
						type="reset"
						name="reset"
					/>
					<!-- Rectangular switch -->
					<label class="switch">
						<input type="checkbox" />
						<span class="slider"></span>
					</label>

					<!-- Rounded switch -->
					<label class="switch">
						<input type="checkbox" />
						<span class="slider round"></span>
					</label>
					<div class="textarea_container form__input_box">
						<label class="label" for="story"
							>Tell us about yourself in 50 words</label
						>
						<textarea
							class="input_box"
							type="textarea"
							name="textarea"
							rows="10"
							cols="40"
							value="Write something mate"
						></textarea>
					</div>
					<input
						type="submit"
						class="btn btn--outline--primary"
						name="submit"
						value="Subscribe"
					/>
				</form>
			</div>

			<!-- snippet_container -->
			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
					// You can just use only the component which is needed
					// from the complete code provided at the bottom of the page.
					// for example use the below username component:

					<form class="form flex" method="get">
						<div class="form__input_box">
							<label class="label" for="username">Username</label>
							<input
								class="input_box"
								type="text"
								name="username"
								placeholder="jonhdoe123"
							/>
						</div>
					</form>
				</script>
			</div>

			<h3>Complete Code Snippet for Different Input Components</h3>

			<!-- snippet_container -->
			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
						// you can just use only the component which is needed,
						// as explained in previous code snippet.

						<form class="form flex" method="get">
							<div class="form__input_box">
								<label class="label" for="username">Username</label>
								<input
									class="input_box"
									type="text"
									name="username"
									placeholder="jonhdoe123"
								/>
							</div>
						</form>

						//complete code
						<form class="form flex" method="get">
							<div class="form__input_box">
								<label class="label" for="name">Full Name</label>
								<input
									class="input_box"
									type="text"
									placeholder="John Doe"
									name="name"
								/>
							</div>

							<div class="form__input_box">
								<label class="label" for="username">Username</label>
								<input
									class="input_box"
									type="text"
									name="username"
									placeholder="jonhdoe123"
								/>
							</div>

							<div class="form__input_box">
								<label class="label" for="Email">Email</label>
								<input
									class="input_box"
									type="email"
									placeholder="something@yourmail.com"
									name="email"
									required
								/>
							</div>

							<div class="form__input_box">
								<label class="label" for="password">Password:</label>
								<input class="input_box" type="password" name="password" required />
							</div>

							<div class="form__radio_box flex-center">
								<label class="label" for="lname">Radio buttons:</label>
								<input class="radio" type="radio" name="radio" />
								<input class="radio" type="radio" name="radio" />
							</div>

							<input class="date" type="date" name="slider" />
							<input
								class="file_picker"
								type="file"
								class="btn btn--outline--primary"
								name="file"
							/>
							<input class="range" type="range" name="range" />
							<input
								class="reset btn btn--outline--primary"
								type="reset"
								name="reset"
							/>
							<!-- Rectangular switch -->
							<label class="switch">
								<input type="checkbox" />
								<span class="slider"></span>
							</label>

							<!-- Rounded switch -->
							<label class="switch">
								<input type="checkbox" />
								<span class="slider round"></span>
							</label>
							<div class="textarea_container form__input_box">
								<label class="label" for="story"
									>Tell us about yourself in 50 words</label
								>
								<textarea
									class="input_box"
									type="textarea"
									name="textarea"
									rows="10"
									cols="40"
									value="Write something mate"
								></textarea>
							</div>
							<input
								type="submit"
								class="btn btn--outline--primary"
								name="submit"
								value="Subscribe"
							/>
						</form>
					</div>
				</script>
			</div>
			<p class="m_doc__para">
				If you want to limit max-width to 100% while grow use following class
				instead.
				<span class="m_doc_class">
					<span class="m_doc_class__item">image--responsive--max_width</span>
				</span>
			</p>

			<p class="units_instruction">
				<span><b>Note: </b></span><span>Used 10px as root font size.</span>
			</p>
		</main>
		<script src="/src/components/button/input.js"></script>
		<script src="/src/javascript/prism.js"></script>
		<script src="/src/javascript/darkmodetoggler.js"></script>
	</body>
</html>
