<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/style.css" />
		<title>Button</title>
	</head>

	<body>
		<header class="header flex">
			<div class="brand__text grid-center">Magnificent UI</div>
		</header>
		<nav class="nav flex-col-align-center">
			<h1 class="h4 nav__head">Get Started</h1>
			<ul class="nav__items flex-col-align-center">
				<li class="nav__list">
					<a class="nav__links" href="#">Installation</a>
				</li>
				<li class="nav__list"><a class="nav__links" href="#">Colors</a></li>
				<li class="nav__list"><a class="nav__links" href="#">Typography</a></li>
			</ul>
			<h1 class="h4 nav__head">Components</h1>
			<ul class="nav__items flex-col-align-center">
				<li class="nav__list">
					<a class="nav__links" href="/src/components/avatar/avatar.html"
						>Avatar</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/badge/badge.html"
						>Badge</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/alert/alert.html"
						>Alert</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links  nav_link--selected" href="/src/components/button/button.html"
						>Button</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/card/card.html">Card</a>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/input/input.html"
						>Input</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/form/form.html">Form</a>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/snackbar/snackbar.html"
						>Snackbar</a
					>
				</li>
			</ul>
		</nav>

		<!-- Main Start -->

		<main class="main">
			<!-- ----Primary Button----- -->

			<h2 class="h2 m_doc__heading">Button</h2>
			<p class="m_doc__para">
				Buttons allow users to take actions and make choices with a single
				press.
			</p>

			<!-- code snippet container -->
			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
					// CSS
					@import url("https://magnificentui.netlify.app/src/components/button/button.css");

					// HTML
					<link rel="stylesheet" href="https://magnificentui.netlify.app/src/components/button/button.css">
				</script>
			</div>

			<!-- Standard Button component -->
			<h3>Standard Button</h3>

			<p class="m_doc__para">
				These are some predefined styles for your buttons each serving its own
				semantic purpose. There are 5 colors to choose from primary, secondary,
				success, danger and warning. This can used with class "btn" as follows:
				<span class="m_doc_class">
					<span class="m_doc_class__item">btn</span>
					<span class="m_doc_class__item">btn--primary</span>
					<span class="m_doc_class__item">btn--secondary</span>
					<span class="m_doc_class__item">btn--success</span>
					<span class="m_doc_class__item">btn--danger</span>
					<span class="m_doc_class__item">btn--warning</span>
				</span>
			</p>

			<!-- component display container -->
			<div class="comp_container flex-center margin-top">
				<div class="buttons flex-center">
					<button class="btn btn--primary">Primary</button>
					<button class="btn btn--secondary">Secondary</button>
					<button class="btn btn--success">Success</button>
					<button class="btn btn--danger">Danger</button>
					<button class="btn btn--warning">Warning</button>
				</div>
			</div>

			<!-- snippet_container -->
			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
					<button class="btn btn--primary">Primary</button>
					<button class="btn btn--secondary">Secondary</button>
					<button class="btn btn--success">Success</button>
					<button class="btn btn--danger">Danger</button>
					<button class="btn btn--warning">Warning</button>
				</script>
			</div>

			<!-- Outline Button component -->
			<h3>Outline Button</h3>

			<p class="m_doc__para">
				If you want buttons which are transparent, Outline buttons can be used.
				<span class="m_doc_class">
					<span class="m_doc_class__item">btn</span>
					<span class="m_doc_class__item">btn--outline--primary</span>
					<span class="m_doc_class__item">btn--outline--secondary</span>
					<span class="m_doc_class__item">btn--outline--success</span>
					<span class="m_doc_class__item">btn--outline--danger</span>
					<span class="m_doc_class__item">btn--outline--warning</span>
				</span>
			</p>

			<!-- component display container -->
			<div class="comp_container flex-center margin-top">
				<div class="buttons flex-center">
					<button class="btn btn--outline--primary">Primary</button>
					<button class="btn btn--outline--secondary">Secondary</button>
					<button class="btn btn--outline--success">Success</button>
					<button class="btn btn--outline--danger">Danger</button>
					<button class="btn btn--outline--warning">Warning</button>
				</div>
			</div>

			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
					<button class="btn btn--outline--primary">Primary</button>
					<button class="btn btn--outline--secondary">Secondary</button>
					<button class="btn btn--outline--success">Success</button>
					<button class="btn btn--outline--danger">Danger</button>
					<button class="btn btn--outline--warning">Warning</button>
				</script>
			</div>

			<!-- Icon Button component -->
			<h3>Icon and Icon with Label Button</h3>

			<p class="m_doc__para">
				<span class="m_doc_class">
					<span class="m_doc_class__item">btn</span>
					<span class="m_doc_class__item">btn--round</span>
					<span class="m_doc_class__item">btn--secondary</span>
					<span class="m_doc_class__item">btn--icon</span>
					<span class="m_doc_class__item">btn--squared</span>
					<span class="m_doc_class__item">btn--circular</span>
				</span>
			</p>

			<!-- component display container -->
			<div class="comp_container flex-center margin-top">
				<div class="buttons flex-center">
					<button class="btn btn--outline--danger btn--icon btn--round">
						Delete<i class="bx bxs-trash-alt"></i>
					</button>
					<button class="btn btn--secondary btn--icon">
						Next<i class="bx bx-right-arrow-alt"></i>
					</button>
					<button class="btn btn--outline--primary btn--icon">
						Cart<i class="bx bxs-cart"></i>
					</button>
					<button class="btn btn--primary btn--icon">
						<i class="bx bxs-cart"></i>
					</button>
					<button class="btn btn--primary btn--icon btn--squared">
						<i class="bx bxs-bookmarks"></i>
					</button>
					<button class="btn btn--secondary btn--icon btn--circular">
						<i class="bx bxs-like"></i>
					</button>
				</div>
			</div>

			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
					<button class="btn btn--outline--danger btn--icon btn--round">
						Delete
						<i class="bx bxs-trash-alt"></i>
					</button>
					<button class="btn btn--secondary btn--icon">
						Next
						<i class="bx bx-right-arrow-alt"></i>
					</button>
					<button class="btn btn--outline--primary btn--icon">
						Cart
						<i class="bx bxs-cart"></i>
					</button>
					<button class="btn btn--primary btn--icon">
						<i class="bx bxs-cart"></i>
					</button>
					<button class="btn btn--primary btn--icon btn--squared">
						<i class='bx bxs-bookmarks'></i>
					</button>
					<button class="btn btn--secondary btn--icon btn--circular">
						<i class='bx bxs-like'></i>
					</button>
				</script>
			</div>

			<!-- Floating Icon and Link Button component -->
			<h3>Floating Action Icon and Link Button</h3>

			<p class="m_doc__para">
				Floating buttons are usually icon buttons that calls for an important
				action on the overall page. Generally located at bottom right.
				Magnificent UI provides few classes that makes the design look cool and
				clean. But the user has to explicitly define the position of the buttons
				according to their respective use cases. By default it is absolute to
				the viewport.
				<span class="m_doc_class">
					<span class="m_doc_class__item">btn</span>
					<span class="m_doc_class__item">btn--primary</span>
					<span class="m_doc_class__item">btn--icon</span>
					<span class="m_doc_class__item">btn--circular</span>
					<span class="m_doc_class__item">btn--floating</span>
				</span>
			</p>

			<!-- component display container -->
			<div class="comp_container flex-center margin-top">
				<div class="buttons flex-center">
					<button class="btn btn--primary btn--link">Link button</button>
					<button
						class="btn btn--icon btn--primary btn--circular btn--floating"
					>
						<i class="bx bx-up-arrow-alt"></i>
					</button>
					<button
						class="btn btn--icon btn--primary btn--circular btn--floating"
					>
						<i class="bx bx-chat"></i>
					</button>
				</div>
			</div>

			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
					<button class="btn btn--primary btn--link">
						Link button
					</button>
					<button class="btn btn--icon btn--primary btn--circular btn--floating">
						<i class='bx bx-up-arrow-alt'></i>
					</button>
					<button class="btn btn--icon btn--primary btn--circular btn--floating">
						<i class='bx bx-chat' ></i>
					</button>
				</script>
			</div>
		</main>
		<script src="/src/components/button/button.js"></script>
		<script src="/src/javascript/prism.js"></script>
	</body>
</html>
