:root {
	--COLOR-WHITE: white;
	--COLOR-BLACK: black;

	/* --MY--THEME- */
	--COLOR-BG: #e9eef6;
	--COLOR-OFFWHITE: #d3dded;
	--COLOR-OFFBLACK: #272b2c;

	--COLOR-PRIMARY: #2255a4;
	--COLOR-PRIMARY-DARK: #163d77;

	--COLOR-SECONDARY: #d6b268;
	--COLOR-SECONDARY-DARK: #6b5934;

	--COLOR-TERTIARY: #b3e3ee;

	/* --BUTTON-- */
	--COLOR-SUCCESS-DARK: #267944;

	/* --ALERT-- */
	--COLOR-INFO: #2a7bfd;
	--COLOR-WARNING: #e7670c;
	--COLOR-DANGER: #ce2e2e;
	--COLOR-SUCCESS: #0fa044;

	/* --STATUS-- */
	--COLOR-ONLINE: #0cdd59;
	--COLOR-BUSY: #ff0000;
	--COLOR-OFFLINE: gray;

	/* SNIPPET THEME */
	--COLOR-SNIPPET-COMMENTS: #ffd279;
	--COLOR-STRINGS: #cdf6ff;
	--COLOR-IMPORT: #ff8800;

	/* Box shadow */
	--COLOR-BOX-SHADOW1: #0003;
	--COLOR-BOX-SHADOW2: #00000024;
	--COLOR-BOX-SHADOW3: #0000001f;
	--COLOR-BOX-SHADOW4: #32325d1a;
	--COLOR-BOX-SHADOW5: #00000014;

	/* ACTIVE */

	--COLOR-ACTIVE: aqua;

	/* CARD */
	--COLOR-DISCOUNT-BG: #ffebcd;
	--COLOR-CARD-BOX-SHADOW: rgba(0, 0, 0, 0.56);

	/* LISTS */
	--COLOR-LIST-HOVER: #ecfdff;

	/* Ribbon */
	--COLOR-RIBBON-BG: #79a70a;
	--COLOR-RIBBON-LG-1: #2989d8;
	--COLOR-RIBBON-PRIMARY: #1e5799;
	--COLOR-RIBBON-BOX-SHADOW: rgba(0, 0, 0, 1);
}
