/* HEADER, NAV AND LAYOUT */

body {
	display: grid;
	min-height: 100vh;
	height: 100vh;
	grid-template-columns: 22rem 1fr;
	grid-template-rows: 6rem 1fr;
	grid-template-areas:
		"header header"
		"nav main";
	transition: all 0.3s ease-in;
	max-width: 120rem;
	margin: auto;
}

/* ---header--- */

.header {
	grid-area: header;
	background-color: inherit;
	z-index: var(--z-index-5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-bottom: 2px solid var(--COLOR-PRIMARY);
	box-shadow: 0 3px 1px -2px var(--COLOR-BOX-SHADOW1),
		0 2px 2px var(--COLOR-BOX-SHADOW2), 0 1px 5px var(--COLOR-BOX-SHADOW3);
}

.brand__text {
	cursor: pointer;
	font-size: 3rem;
	font-weight: 500;
	width: 22rem;
	height: 100%;
	color: var(--COLOR-TXT);
}

.logo {
	width: 10rem;
	max-height: 100%;
}

/* --navigation */
.nav {
	background-color: var(--COLOR-PRIMARY);
	grid-area: nav;
	padding-top: 2.6rem;
	color: var(--COLOR-WHITE);
	overflow: scroll;
	text-align: center;
}

.nav__head {
	font-weight: 500;
	margin: 1rem 0 0.5rem 1rem;
	font-size: 2.2rem;
	color: var(--COLOR-WHITE);
}

.nav__items {
	list-style: none;
	width: 100%;
	gap: 0.6rem;
}

.nav__list {
	width: 10rem;
}

.nav__links {
	display: inline-block;
	text-decoration: none;
	padding: 0.4rem 0.7rem;
	width: 100%;
	border-radius: 8px;
	color: var(--COLOR-WHITE);
}

.nav__links:hover {
	text-decoration: underline;
	background-color: linear-gradient();
}

.nav_link--selected {
	color: black;
	font-weight: 600;
	background-color: var(--COLOR-WHITE);
}

/* MAIN CONTENT */

.main {
	grid-area: main;
	overflow-y: scroll;
	margin: 0 0 1rem 0;
	padding: 2rem 1rem 1rem 4rem;
	height: 100%;
	position: relative;
}

.units_instruction {
	color: var(--COLOR-TXT);
}

/* paragraph */

.m_doc__para {
	gap: 0.7rem;
	margin-top: 0.3rem;
}

.m_doc_class {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	gap: 0.5rem;
	margin: 1rem 0;
}

.m_doc_class__item {
	font-size: 1.5rem;
	border: 0.5px solid var(--COLOR-PRIMARY);
	background-color: var(--COLOR-PRIMARY);
	border-radius: 1rem;
	padding: 0.5rem 1rem;
	color: var(--COLOR-PRIMARY);
	margin: auto 2px;
	color: var(--COLOR-WHITE);
	font-weight: 500;
}

.lh4 {
	line-height: 4rem;
}

p {
	width: var(--WIDTH-MAIN-CONTENT);
}

/* ----avatar doc-classes---- */

.color--online {
	color: black;
	background-color: var(--COLOR-SUCCESS);
}

.color--offline {
	background-color: var(--COLOR-OFFLINE);
}

.color--idle {
	color: black;
	background-color: var(--COLOR-SECONDARY);
}

.color--busy {
	background-color: var(--COLOR-DANGER);
}

/* header */

.social__handles {
	display: flex;
	gap: 1.2rem;
	padding-right: 2rem;
}

.social__links {
	text-decoration: none;
	display: flex;
	font-size: 3.4rem;
	color: var(--COLOR-TXT);
}

.social__links:hover,
.brand__text:hover {
	color: var(--COLOR-PRIMARY);
	cursor: pointer;
}

.social__links:active {
	color: var(--COLOR-ACTIVE);
}

/* mobile-icon nav bar  */

.hamburger_icon {
	display: none;
	color: var(--COLOR-TXT);
	font-size: 3.4rem;
}

.hamburger_icon:hover {
	cursor: pointer;
}
