/* MEDIA QUERIES  */

@media only screen and (max-width: 720px) {
	html {
		font-size: 55%;
	}

	:root {
		--WIDTH-MAIN-CONTENT: 100%;
	}

	body {
		grid-template-areas:
			"header"
			"nav"
			"main";
		grid-template-columns: 1fr;
		grid-template-rows: max-content min-content 1fr;
		height: auto;
	}

	body > .header,
	.main {
		padding: 0;
		padding: 1rem 3rem;
	}

	body .display--modifier {
		display: none;
	}

	.social__handles {
		padding-right: 0;
	}

	.nav {
		display: none;
		font-size: 1.8rem;
	}

	.hamburger_icon {
		display: block;
	}

	.show .nav {
		text-align: center;
		display: flex;
		z-index: var(--z-index-4);
		position: sticky;
		top: 50px;
		padding-top: 0;
	}

	.show .main {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	html {
		font-size: 50%;
	}

	.header .search_box {
		display: none;
	}

	.comp_container .brand__text {
		margin-left: 0;
		margin: 0 auto;
	}

	.header__nav_btns {
		gap: 1rem;
	}
}

@media only screen and (max-width: 400px) {
	html {
		font-size: 40%;
	}

	.nav__links {
		width: 10rem;
	}

	.social__links {
		font-size: 3rem;
	}
}
