.grid-center {
	display: grid;
	place-content: center;
}

.flex {
	display: flex;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-col-center {
	display: flex;
	direction: column;
	justify-content: center;
	align-items: center;
}

.flex-col-align-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.comp_container {
	background-color: var(--COLOR-COMP-BG);
	padding: 2rem;
	margin: 2rem auto 2rem 0;
	gap: 1rem;
	flex-wrap: wrap;
	align-content: center;
	width: var(--WIDTH-MAIN-CONTENT);
	border: 1px solid var(--COLOR-PRIMARY);
	border-radius: 2rem;
}

.fw {
	width: 100%;
}
