.lists__head {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	padding: 8px 0;
}

.lists__menu {
	list-style: none;
	padding: 0 1rem;
	border-radius: 8px;
	border: 1px solid var(--COLOR-PRIMARY);
	background-color: var(--COLOR-BG);
}

.lists__spaced {
	gap: 3px;
}
.lists--stacked {
	gap: 0;
}
.lists__head {
	font-weight: 500;
	font-size: 2.2rem;
}

.lists__links {
	display: inline-block;
	text-decoration: none;
	padding: 2px 8px;
	width: 100%;
	border-radius: 8px;
	color: var(--COLOR-TXT);
}

.lists__links:hover {
	color: var(--COLOR-PRIMARY);
	background-color: var(--COLOR-LIST-HOVER);
}
