<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/style.css" />
		<title>Lists</title>
	</head>

	<body>
		<body>
			<header class="header flex">
				<div class="brand__text grid-center">Magnificent UI</div>
				<div class="social__handles">
					<a class="social__links theme__toggler">
						<i class="bx bxs-moon"></i>
					</a>
					<a href="#" class="social__links">
						<i class="bx bxl-twitter"></i>
					</a>
					<a href="#" class="social__links display--modifier">
						<i class="bx bxl-linkedin-square"></i>
					</a>
					<a href="" class="social__links">
						<i class="bx bxl-github"></i>
					</a>
				</div>
			</header>
			<nav class="nav flex-col-align-center">
				<h1 class="h4 nav__head">Get Started</h1>
				<ul class="nav__items flex-col-align-center">
					<li class="nav__list">
						<a class="nav__links" href="/src/components/usage/usage.html">Usage</a>
					</li>
					
					<li class="nav__list"><a class="nav__links" href="/src/components/typography/typography.html">Typography</a></li>
				</ul>
				<h1 class="h4 nav__head">Components</h1>
				<ul class="nav__items flex-col-align-center">
					<li class="nav__list">
						<a
							class="nav__links"
							href="/src/components/avatar/avatar.html"
							>Avatar</a
						>
					</li>
					<li class="nav__list">
						<a class="nav__links" href="/src/components/badge/badge.html"
							>Badge</a
						>
					</li>
					<li class="nav__list">
						<a class="nav__links" href="/src/components/alert/alert.html"
							>Alert</a
						>
					</li>
					<li class="nav__list">
						<a class="nav__links" href="/src/components/button/button.html"
							>Button</a
						>
					</li>
					<li class="nav__list">
						<a class="nav__links" href="/src/components/card/card.html">Card</a>
					</li>
					<li class="nav__list">
						<a class="nav__links" href="/src/components/input/input.html"
							>Input</a
						>
					</li>
					<li class="nav__list">
						<a class="nav__links" href="/src/components/image/image.html"
							>Image</a
						>
					</li>
					<li class="nav__list">
						<a class="nav__links" href="/src/components/snackbar/snackbar.html"
							>Snackbar</a
						>
					</li>
					<li class="nav__list">
						<a class="nav__links nav_link--selected" href="/src/components/lists/lists.html"
							>Lists</a
						>
					</li>
					<li class="nav__list">
						<a class="nav__links" href="/src/components/modal/modal.html"
							>Modal</a
						>
					</li>
					<li class="nav__list">
						<a class="nav__links" href="/src/components/rating/rating.html"
							>Ratings</a
						>
					</li>
					<li class="nav__list">
						<a class="nav__links" href="/src/components/grid/grid.html"
							>Grid</a
						>
					</li>
					<li class="nav__list">
						<a class="nav__links" href="/src/components/navigation/navigation.html"
							>Navigation</a
						>
					</li>
					<li class="nav__list">
						<a class="nav__links" href="/src/components/slider/slider.html"
							>Slider</a
						>
					</li>
				</ul>
			</nav>
	
			<!-- Main Start -->
	
			<main class="main">
				<!-- ----LISTS----- -->
	
				<h2 class="h2 m_doc__heading">Lists</h2>
				<p class="m_doc__para">
					Lists are used to display content in an ordered manner.
				</p>
	
				<!-- SNIPPET CONTAINER -->
	
				<div class="snippet_container">
					<script
						type="text/plain"
						class="line-numbers language-css snippet_container__script"
					>
						// CSS
						@import url("https://magnificentui.netlify.app/src/components/lists/lists.css");
	
						// HTML
						<link rel="stylesheet" href="https://magnificentui.netlify.app/src/components/lists/lists.css">
					</script>
				</div>
	
				<!-- lists component -->
				<h3>Menu List</h3>
	
				<p class="m_doc__para">
					Menu list may consists of items or submenus.
					<span class="m_doc_class">
						<span class="m_doc_class__item">lists__menu</span>
						<span class="m_doc_class__item">lists-spaced</span>
						<span class="m_doc_class__item">lists-stacked</span>
						<span class="m_doc_class__item">flex-col-align-left</span>
						<span class="m_doc_class__item">lists__head</span>
						<span class="m_doc_class__item">lists__list</span>
						<span class="m_doc_class__item">lists__links</span>
					</span>
				</p>
	
				<!-- component display container -->
				<div class="comp_container flex-center">
					<ul class="lists__menu lists--spaced flex-col-align-left">
						<h1 class="h4 lists__head">
							<span>Categories</span> 
							<button class="btn btn--icon btn--close--transparent btn--circular">
								<i class='bx bx-minus'></i>
							</button>
						</h1>
						<li class="lists__list">
							<a
								class="lists__links"
								href="#"
								>BAT</a
							>
						</li>
						<li class="lists__list">
							<a class="lists__links" href="#"
								>BALL</a
							>
						</li>
						<li class="lists__list">
							<a class="lists__links" href="#"
								>STUMPS</a
							>
						</li>
						<li class="lists__list">
							<a class="lists__links" href="#"
								>SHIRTS</a
							>
						</li>
						<li class="lists__list">
							<a class="lists__links" href="#">GLOVES</a>
						</li>
						<li class="lists__list">
							<a class="lists__links"href="#"
								>SHOES</a
							>
						</li>
						<li class="lists__list">
							<a class="lists__links" href="#"
								>BAGS</a
							>
						</li>
						<li class="lists__list">
							<a class="lists__links" href="#"
								>ACCESSORIES</a
							>
						</li>
					</ul>
				</div>
	
				<!-- code snippet container -->
	
				<div class="snippet_container">
					<script
						type="text/plain"
						class="line-numbers language-css snippet_container__script"
					>
					<ul class="lists__menu lists--spaced flex-col-align-left">
						<h1 class="h4 lists__head">
							<span>Categories</span> 
							<button class="btn btn--icon btn--close--transparent btn--circular">
								<i class='bx bx-minus'></i>
							</button>
						</h1>
						<li class="lists__list">
							<a class="lists__links" href="#">BAT</a>
						</li>
						...
					</ul>
			</script>
		</div>
	
				<!--  Stacked Lists -->
				<h3>Stacked Lists</h3>
	
				<p class="m_doc__para">
					<span class="m_doc_class">
						<span class="m_doc_class__item">lists-stacked</span>
					</span>
				</p>
	
				<!-- component display container -->
				<div class="comp_container flex-center">
					<ul class="lists__menu lists--stacked flex-col-align-left">
						<h1 class="h4 lists__head">
							<span>Categories</span> 
							<button class="btn btn--icon btn--close--transparent btn--circular">
								<i class='bx bx-minus'></i>
							</button>
						</h1>
						<li class="lists__list">
							<a
								class="lists__links"
								href="#"
								>BAT</a
							>
						</li>
						<li class="lists__list">
							<a class="lists__links" href="#"
								>BALL</a
							>
						</li>
						<li class="lists__list">
							<a class="lists__links" href="#"
								>STUMPS</a
							>
						</li>
						<li class="lists__list">
							<a class="lists__links" href="#"
								>SHIRTS</a
							>
						</li>
					</ul>
				</div>
	
				<!-- code snippet container -->
	
				<div class="snippet_container">
					<script
						type="text/plain"
						class="line-numbers language-css snippet_container__script"
					>
					<ul class="lists__menu lists--stacked flex-col-align-left">
						<h1 class="h4 lists__head">
							<span>Categories</span> 
							<button class="btn btn--icon btn--close--transparent btn--circular">
								<i class='bx bx-minus'></i>
							</button>
						</h1>
						<li class="lists__list">
							<a class="lists__links" href="#">BAT</a>
						</li>
						.....
					</ul>
				
					</script>
				</div>
	
				<p class="units_instruction">
					<span><b>Note: </b></span><span>Used 10px as root font size.</span>
				</p>
			</main>
			<script src="/src/javascript/prism.js"></script>
		<script src="/src/javascript/darkmodetoggler.js"></script>
			<script src="/src/javascript/app.js"></script>
		</body>
</html>
