.card {
	position: relative;
	background-color: var(--COLOR-CARD-BG);
	margin: auto;
	border: 1px solid var(--COLOR-OFFWHITE);
	transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
	border-radius: 5px;
	overflow: hidden;
}

.card:hover {
	box-shadow: 0px 5px 40px 0px var(--COLOR-CARD-BOX-SHADOW1);
}

.card__body {
	display: flex;
	flex-flow: column wrap;
	padding: var(--PADDING-CARD-BODY);
	gap: 1rem;
}

.card__header_text {
	display: flex;
	flex-flow: column wrap;
	gap: 5px;
}

.card__title {
	font-size: 2.4rem;
}

.card__subtitle {
	font-size: 1.6rem;
}

.card__para {
	font-size: 1.4rem;
}

.card__footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: var(--PADDING-CARD-BODY);
	padding-top: 0;
	flex-wrap: wrap;
	gap: 8px;
}

.card__actions {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.card__icons {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 8px;
}

.card__link {
	text-decoration: none;
	justify-content: center;
}

.card__link > svg {
	fill: var(--COLOR-PRIMARY);
	opacity: 0.9;
}

.card__link > svg:hover {
	opacity: 1;
}

.card__actions button {
	padding: 6px 6px;
}

.card .card__icons .card__link {
	width: 3.2rem;
	height: 3.2rem;
}

.card .card__icons i {
	font-size: 2rem;
}

/* card--price */

.card__price {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.disc_price {
	font-weight: 600;
}

.original_price {
	font-size: 1.4rem;
	text-decoration: line-through;
}

.pct_disc {
	background: var(--COLOR-DISCOUNT-BG);
	border-radius: 4px;
	color: var(--COLOR-BUSY);
	font-size: 1.3rem;
	font-weight: 700;
}
/* card-price-end  */

/* ------WITH TEXT-OVERLAY-------- */

.card--text_overlay .card__header_text {
	position: absolute;
	top: 16rem;
	left: 2rem;
	color: white;
}

.card--text_overlay .card__figure {
	filter: blur(1px);
}

/* Only text cards */

.card--only_text .card__figure {
	display: none;
}

/* Horizontal cards  */

.card--horizontal {
	max-width: 49rem;
}

.card--horizontal .card__body {
	max-width: 25rem;
}

.card--horizontal .card__footer {
	padding-top: var(--PADDING-CARD-BODY);
	display: flex;
	flex-wrap: wrap;
}

.card--horizontal .card__footer > .card__actions,
.card--horizontal .card__footer > .card__icons {
	justify-content: space-evenly;
	flex: 1;
	flex-wrap: wrap;
}

/* Vertical cards */

.card--vertical {
	max-width: 33rem;
}

.card--vertical .card__content {
	flex-flow: column wrap;
	text-align: left;
}

/* ---ribbon ---- */

.card__badge {
	display: none;
}

.card--badge .card__badge {
	display: block;
}

.ribbon {
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: 1;
	overflow: hidden;
	width: 7.5rem;
	height: 7.55rem;
	text-align: right;
}

.ribbon span {
	font-size: 1rem;
	font-weight: bold;
	color: var(--COLOR-WHITE);
	text-transform: uppercase;
	text-align: center;
	line-height: 2rem;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 10rem;
	display: block;
	background: var(--COLOR-RIBBON-BG);
	background: linear-gradient(
		var(--COLOR-RIBBON-LG-1) 0%,
		var(--COLOR-RIBBON-PRIMARY) 100%
	);
	box-shadow: 0 3px 10px -5px var(--COLOR-RIBBON-BOX-SHADOW);
	position: absolute;
	top: 1.9rem;
	right: -2.1rem;
}

.ribbon span::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 100%;
	z-index: -1;
	border-left: 3px solid var(--COLOR-RIBBON-PRIMARY);
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-top: 3px solid var(--COLOR-RIBBON-PRIMARY);
}

.ribbon span::after {
	content: "";
	position: absolute;
	right: 0px;
	top: 100%;
	z-index: -1;
	border-left: 3px solid transparent;
	border-right: 3px solid var(--COLOR-RIBBON-PRIMARY);
	border-bottom: 3px solid transparent;
	border-top: 3px solid var(--COLOR-RIBBON-PRIMARY);
}

/* ----ribbon-end----  */

/* dismiss */

.card--dismiss .card__dismiss {
	display: flex;
}
.card__dismiss {
	display: none;
	position: absolute;
	color: var(--COLOR-PRIMARY);
	top: 6px;
	right: 6px;
	backdrop-filter: blur(4px);
	z-index: 2;
	padding: 0;
}

.card__dismiss:hover {
	box-shadow: 0px 0px 1px 1px var(--COLOR-CARD-BOX-SHADOW2),
		0px 0px 1px 5px var(--COLOR-CARD-BOX-SHADOW3);
}

.light {
	color: var(--COLOR-TERTIARY);
}

.dark {
	color: var(--COLOR-PRIMARY);
}

.card__dismiss i {
	font-size: 3rem;
	font-weight: 600;
}

/* dismiss end*/

/* ------------------ Shopping Cards ---------------  */

.card--vertical_v2 {
	max-width: 27.5rem;
}

.card--vertical_v2 .card__content {
	flex-flow: column wrap;
	text-align: left;
}

.card--shopping .card__price {
	margin: auto;
	justify-content: center;
}

.card--shopping .card__button {
	padding: 5px 10px;
}

.card--shopping * {
	text-align: center;
	/* justify-content: center; */
}

.card--shopping .card__footer .share,
.card--shopping .card__footer .options {
	display: none;
}

.card--shopping .card__body .card__para {
	display: none;
}

/* ---- CARD-SHOPPING: HORIZONTAL ----  */
.card--horizontal_v2 {
	max-width: 49rem;
}

.card--horizontal_v2 .card__body {
	min-width: 21.75rem;
}

.card--horizontal_v2 .card__footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	padding: 0;
}

.card--horizontal_v2 .card__footer > .card__actions,
.card--horizontal_v2 .card__footer > .card__icons {
	flex-flow: column wrap;
}

.card--horizontal_v2 .card__button {
	min-width: 10.7rem;
}

/* Shopping Card Variant: Cart--portrait  */

.card--cart .display--none {
	display: none;
}

.card__quantity_wrapper,
.card__quantity_wrapper .card__quantity {
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	gap: 1rem;
}



.card:hover {
	box-shadow: 0px 5px 40px 0px var(--COLOR-CARD-BOX-SHADOW1);
}

.card__body {
	display: flex;
	flex-flow: column wrap;
	padding: var(--PADDING-CARD-BODY);
	gap: 1rem;
}

.card__header_text {
	display: flex;
	flex-flow: column wrap;
	gap: 5px;
}

.card__title {
	font-size: 2.4rem;
}

.card__subtitle {
	font-size: 1.6rem;
}

.card__para {
	font-size: 1.4rem;
}

.card__footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: var(--PADDING-CARD-BODY);
	padding-top: 0;
	flex-wrap: wrap;
	gap: 8px;
}

.card__actions {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.card__icons {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 8px;
}

.card__link {
	text-decoration: none;
	justify-content: center;
}

.card__link > svg {
	fill: var(--COLOR-PRIMARY);
	opacity: 0.9;
}

.card__link > svg:hover {
	opacity: 1;
}

.card__actions button {
	padding: 6px 6px;
}

.card .card__icons .card__link {
	width: 3.2rem;
	height: 3.2rem;
}

.card .card__icons i {
	font-size: 2rem;
}

/* card--price */

.card__price {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.disc_price {
	font-weight: 600;
}

.original_price {
	font-size: 1.4rem;
	text-decoration: line-through;
}

.pct_disc {
	background: var(--COLOR-DISCOUNT-BG);
	border-radius: 4px;
	color: var(--COLOR-BUSY);
	font-size: 1.3rem;
	font-weight: 700;
}
/* card-price-end  */

/* ------WITH TEXT-OVERLAY-------- */

.card--text_overlay .card__header_text {
	position: absolute;
	top: 16rem;
	left: 2rem;
	color: white;
}

.card--text_overlay .card__figure {
	filter: blur(1px);
}

/* Only text cards */

.card--only_text .card__figure {
	display: none;
}

/* Horizontal cards  */

.card--horizontal {
	max-width: 49rem;
}

.card--horizontal .card__body {
	max-width: 25rem;
}

.card--horizontal .card__footer {
	padding-top: var(--PADDING-CARD-BODY);
	display: flex;
	flex-wrap: wrap;
}

.card--horizontal .card__footer > .card__actions,
.card--horizontal .card__footer > .card__icons {
	justify-content: space-evenly;
	flex: 1;
	flex-wrap: wrap;
}

/* Vertical cards */

.card--vertical {
	max-width: 33rem;
}

.card--vertical .card__content {
	flex-flow: column wrap;
	text-align: left;
}

/* ---ribbon ---- */

.card__badge {
	display: none;
}

.card--badge .card__badge {
	display: block;
}

.ribbon {
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: 1;
	overflow: hidden;
	width: 7.5rem;
	height: 7.55rem;
	text-align: right;
}

.ribbon span {
	font-size: 1rem;
	font-weight: bold;
	color: var(--COLOR-WHITE);
	text-transform: uppercase;
	text-align: center;
	line-height: 2rem;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 10rem;
	display: block;
	background: var(--COLOR-RIBBON-BG);
	background: linear-gradient(
		var(--COLOR-RIBBON-LG-1) 0%,
		var(--COLOR-RIBBON-PRIMARY) 100%
	);
	box-shadow: 0 3px 10px -5px var(--COLOR-RIBBON-BOX-SHADOW);
	position: absolute;
	top: 1.9rem;
	right: -2.1rem;
}

.ribbon span::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 100%;
	z-index: -1;
	border-left: 3px solid var(--COLOR-RIBBON-PRIMARY);
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-top: 3px solid var(--COLOR-RIBBON-PRIMARY);
}

.ribbon span::after {
	content: "";
	position: absolute;
	right: 0px;
	top: 100%;
	z-index: -1;
	border-left: 3px solid transparent;
	border-right: 3px solid var(--COLOR-RIBBON-PRIMARY);
	border-bottom: 3px solid transparent;
	border-top: 3px solid var(--COLOR-RIBBON-PRIMARY);
}

/* ----ribbon-end----  */

/* dismiss */

.card--dismiss .card__dismiss {
	display: flex;
}
.card__dismiss {
	display: none;
	position: absolute;
	color: var(--COLOR-PRIMARY);
	top: 6px;
	right: 6px;
	backdrop-filter: blur(4px);
	z-index: 2;
	padding: 0;
}

.card__dismiss:hover {
	box-shadow: 0px 0px 1px 1px var(--COLOR-CARD-BOX-SHADOW2),
		0px 0px 1px 5px var(--COLOR-CARD-BOX-SHADOW3);
}

.light {
	color: var(--COLOR-TERTIARY);
}

.dark {
	color: var(--COLOR-PRIMARY);
}

.card__dismiss i {
	font-size: 3rem;
	font-weight: 600;
}

/* dismiss end*/

/* ------------------ Shopping Cards ---------------  */

.card--vertical_v2 {
	max-width: 27.5rem;
}

.card--vertical_v2 .card__content {
	flex-flow: column wrap;
	text-align: left;
}

.card--shopping .card__price {
	margin: auto;
	justify-content: center;
}

.card--shopping .card__button {
	padding: 5px 10px;
}

.card--shopping * {
	text-align: center;
	/* justify-content: center; */
}

.card--shopping .card__footer .share,
.card--shopping .card__footer .options {
	display: none;
}

.card--shopping .card__body .card__para {
	display: none;
}

/* ---- CARD-SHOPPING: HORIZONTAL ----  */
.card--horizontal_v2 {
	max-width: 49rem;
}

.card--horizontal_v2 .card__body {
	min-width: 21.75rem;
}

.card--horizontal_v2 .card__footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	padding: 0;
}

.card--horizontal_v2 .card__footer > .card__actions,
.card--horizontal_v2 .card__footer > .card__icons {
	flex-flow: column wrap;
}

.card--horizontal_v2 .card__button {
	min-width: 10.7rem;
}

/* Shopping Card Variant: Cart--portrait  */

.card--cart {
	max-width: 51rem;
	gap: 0;
}

.card--cart .card__body {
	min-width: 25rem;
	padding: 0;
	justify-content: space-evenly;
	gap: 0;
}

.card--cart .card__price {
	margin: 0 auto;
	gap: 1.2rem;
}

.card--cart .display--none {
	display: none;
}

.card--cart .card__button {
	padding: 8px 1rem;
}

.card__quantity_wrapper,
.card__quantity_wrapper .card__quantity {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
	gap: 1.2rem;
}

.card__quantity_wrapper .card_btn--delete {
	font-size: 2rem;
	width: 3.2rem;
	height: 3.2rem;
}

.card__quantity_wrapper .card_btn--delete i {
	font-size: 2rem;
}

.card__quantity .label {
	color: var(--COLOR-BLACK);
}

.card__quantity_values {
	cursor: pointer;
	border-radius: 4px;
	border-color: var(--COLOR-PRIMARY);
}

.card__quantity_values:hover {
	background-color: var(--COLOR-TERTIARY);
}
