.card {
	position: relative;
	background-color: var(--COLOR-WHITE);
	margin: auto;
	border: 1px solid var(--COLOR-OFFWHITE);
	transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
	border-radius: 5px;
}

.card:hover {
	box-shadow: 0px 5px 40px 0px var(--COLOR-BOX-SHADOW-CARD);
}

.card__body {
	display: flex;
	flex-flow: column wrap;
	padding: var(--PADDING-CARD-BODY);
	gap: 1rem;
}

.card__header_text {
	display: flex;
	flex-flow: column wrap;
	gap: 5px;
}

.card__title {
	font-size: 2.4rem;
}

.card__subtitle {
	font-size: 1.6rem;
}

.card__para {
	font-size: 1.4rem;
}

.card__footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: var(--PADDING-CARD-BODY);
	padding-top: 0;
	flex-wrap: wrap;
	gap: 8px;
}

.card__actions {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.card__icons {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 8px;
}

.card__link {
	text-decoration: none;
	justify-content: center;
}

.card__link > svg {
	fill: var(--COLOR-PRIMARY);
	opacity: 0.9;
}

.card__link > svg:hover {
	opacity: 1;
}

.card__actions button {
	padding: 0.5rem 0.6rem;
}

.card .card__icons .card__link {
	width: 3.2rem;
	height: 3.2rem;
}

.card .card__icons i {
	font-size: 2rem;
}

/* card--price */

.card__price {
	display: flex;
	align-items: center;
	gap: 10px;
}

.disc_price {
	font-weight: 600;
}

.original_price {
	font-size: 1.4rem;
	text-decoration: line-through;
}

.pct_disc {
	background: var(--COLOR-DISCOUNT-BG);
	border-radius: 4px;
	color: var(--COLOR-BUSY);
	font-size: 1.3rem;
	font-weight: 700;
}
/* card-price-end  */

/* ------WITH TEXT-OVERLAY-------- */

.card--text_overlay .card__header_text {
	position: absolute;
	top: 16rem;
	left: 2rem;
	color: white;
}

.card--text_overlay .card__figure {
	filter: blur(1px);
}

/* Only text cards */

.card--only_text .card__figure {
	display: none;
}

/* Horizontal cards  */

.card--horizontal {
	max-width: 49rem;
}

.card--horizontal .card__body {
	max-width: 25rem;
}

.card--horizontal .card__footer {
	padding-top: var(--PADDING-CARD-BODY);
	display: flex;
	flex-wrap: wrap;
}

.card--horizontal .card__footer > .card__actions,
.card--horizontal .card__footer > .card__icons {
	justify-content: space-evenly;
	flex: 1;
	flex-wrap: wrap;
}

/* Vertical cards */

.card--vertical {
	max-width: 33rem;
}

.card--vertical .card__content {
	flex-flow: column wrap;
	text-align: left;
}

/* ---ribbon ---- */

.card__badge {
	display: none;
}

.card--badge .card__badge {
	display: block;
}

.ribbon {
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: 1;
	overflow: hidden;
	width: 75px;
	height: 75px;
	text-align: right;
}

.ribbon span {
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 100px;
	display: block;
	background: #79a70a;
	background: linear-gradient(#2989d8 0%, #1e5799 100%);
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
	position: absolute;
	top: 19px;
	right: -21px;
}

.ribbon span::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 100%;
	z-index: -1;
	border-left: 3px solid #1e5799;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #1e5799;
}

.ribbon span::after {
	content: "";
	position: absolute;
	right: 0px;
	top: 100%;
	z-index: -1;
	border-left: 3px solid transparent;
	border-right: 3px solid #1e5799;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #1e5799;
}

/* ----ribbon-end----  */

/* dismiss */

.card--dismiss .card__dismiss {
	display: flex;
}
.card__dismiss {
	display: none;
	position: absolute;
	color: var(--COLOR-PRIMARY);
	top: 3px;
	right: 3px;
	backdrop-filter: blur(4px);
	z-index: 2;
}

.light {
	color: var(--COLOR-TERTIARY);
}

.dark {
	color: var(--COLOR-PRIMARY);
}

.card__dismiss i {
	font-size: 3rem;
	font-weight: 600;
}

/* dismiss end*/
