<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/style.css" />
		<title>Card</title>
	</head>

	<body>
		<header class="header flex">
			<div class="brand__text grid-center">Magnificent UI</div>
			<div class="social__handles">
				<a href="#" class="social__links">
					<i class="bx bxl-twitter"></i>
				</a>
				<a href="#" class="social__links">
					<i class="bx bxl-linkedin-square"></i>
				</a>
				<a href="" class="social__links">
					<i class="bx bxl-github"></i>
				</a>
			</div>
		</header>
		<nav class="nav flex-col-align-center">
			<h1 class="h4 nav__head">Get Started</h1>
			<ul class="nav__items flex-col-align-center">
				<li class="nav__list">
					<a class="nav__links" href="/src/components/usage/usage.html"
						>Usage</a
					>
				</li>
				<li class="nav__list"><a class="nav__links" href="#">Colors</a></li>
				<li class="nav__list">
					<a
						class="nav__links"
						href="/src/components/typography/typography.html"
						>Typography</a
					>
				</li>
			</ul>
			<h1 class="h4 nav__head">Components</h1>
			<ul class="nav__items flex-col-align-center">
				<li class="nav__list">
					<a class="nav__links" href="/src/components/avatar/avatar.html"
						>Avatar</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/badge/badge.html"
						>Badge</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/alert/alert.html"
						>Alert</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/button/button.html"
						>Button</a
					>
				</li>
				<li class="nav__list">
					<a
						class="nav__links nav_link--selected"
						href="/src/components/card/card.html"
						>Card</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/input/input.html"
						>Input</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/image/image.html"
						>Image</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/snackbar/snackbar.html"
						>Snackbar</a
					>
				</li>
				<li class="nav__list">
					<a class="nav__links" href="/src/components/lists/lists.html"
						>Lists</a
					>
				</li>
			</ul>
		</nav>

		<!-- Main Start -->

		<main class="main">
			<!-- ----Card----- -->

			<h2 class="h2 m_doc__heading">Card</h2>
			<p class="m_doc__para">
				The Card component has <strong>6 variants</strong> , <br />
				1. Vertical Cards,<br />
				2. Horizontal Cards,<br />
				3. Cards with badges, <br />
				4. Cards with dismiss, <br />
				5. Cards with text overlay and <br />
				6. Text only cards. <br />
				<br />
				Use following classes with class <strong>"card"</strong> to get that
				style of the card.
				<span class="m_doc_class">
					<span class="m_doc_class__item">card</span>
					<span class="m_doc_class__item">card--vertical</span>
					<span class="m_doc_class__item">card--horizontal</span>
					<span class="m_doc_class__item">card--badge</span>
					<span class="m_doc_class__item">card--dismiss</span>
					<span class="m_doc_class__item">card--text_overlay</span>
					<span class="m_doc_class__item">card--only_text</span>
				</span>
			</p>

			<!-- code snippet container -->
			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
					// CSS
					@import url("https://magnificentui.netlify.app/src/components/card/card.css");

					// HTML
					<link rel="stylesheet" href="https://magnificentui.netlify.app/src/components/card/card.css">
				</script>
			</div>

			<!-- Card with badges component -->
			<h3>Card with badges</h3>

			<!-- component display container -->
			<div class="comp_container flex-center comp_container--cards">
				<article class="card card--vertical card--badge">
					<div class="card__content flex">
						<header class="card__header flex-center">
							<figure class="card__figure">
								<img
									class="card_img"
									src="https://picsum.photos/400/300"
									alt="randomly generated"
								/>
							</figure>
						</header>
						<div class="card__body">
							<div class="card__header_text">
								<h2 class="card__title">Cricket Bag</h2>
								<h3 class="card__subtitle">
									MRF Genius Cameo Senior Cricket Kit Bag
								</h3>
							</div>
							<p class="card__para">
								Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Reic
								iendis sint perspi ciatis
							</p>
							<p class="card__price flex">
								<span class="disc_price">₹1,500</span>
								<span class="original_price">₹2,000</span>
								<span class="pct_disc">25% off</span>
							</p>
						</div>
					</div>
					<div class="card__footer">
						<div class="card__actions">
							<button class="card__button btn btn--outline--primary">
								Add to Cart
							</button>
							<button class="card__button btn btn--primary">Buy Now</button>
						</div>
						<ul class="card__icons">
							<li class="card__list flex-center">
								<a
									href="#"
									class="card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-heart"></i>
								</a>
							</li>
							<li class="card__list">
								<a
									href="#"
									class="card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-share-alt"></i>
								</a>
							</li>
							<li class="card__list">
								<a
									href="#"
									class="options card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-dots-vertical-rounded"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="card__badge ribbon">
						<span>new</span>
					</div>
				</article>
			</div>

			<!-- snippet_container -->
			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
					// Just change the classes in article element to get different variants
					<article class="card card--vertical card--badge">
						// complete code at the bottom of the page
				</script>
			</div>

			<!--Card with dismiss -->
			<h3>Card with dismiss</h3>

			<!-- component display container -->
			<div class="comp_container flex-center comp_container--cards">
				<article class="card card--vertical card--dismiss">
					<div class="card__content flex">
						<header class="card__header flex-center">
							<figure class="card__figure">
								<img
									class="image--responsive"
									src="https://picsum.photos/400/300"
									alt="randomly generated"
								/>
							</figure>
						</header>
						<div class="card__body">
							<div class="card__header_text">
								<h2 class="card__title">Cricket Bag</h2>
								<h3 class="card__subtitle">
									MRF Genius Cameo Senior Cricket Kit Bag
								</h3>
							</div>
							<p class="card__para">
								Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Reic
								iendis sint perspi ciatis
							</p>
							<p class="card__price flex">
								<span class="disc_price">₹1,500</span>
								<span class="original_price">₹2,000</span>
								<span class="pct_disc">25% off</span>
							</p>
						</div>
					</div>
					<div class="card__footer">
						<div class="card__actions">
							<button class="card__button btn btn--outline--primary">
								Add to Cart
							</button>
							<button class="card__button btn btn--primary">Buy Now</button>
						</div>
						<ul class="card__icons">
							<li class="card__list flex-center">
								<a
									href="#"
									class="card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-heart"></i>
								</a>
							</li>
							<li class="card__list">
								<a
									href="#"
									class="card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-share-alt"></i>
								</a>
							</li>
							<li class="card__list">
								<a
									href="#"
									class="options card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-dots-vertical-rounded"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="card__badge ribbon">
						<span>new</span>
					</div>
					<div
						class="card__dismiss dark btn btn--icon btn--close--transparent alert--btn__dismiss btn--circular"
					>
						<i class="bx bx-x"></i>
					</div>
				</article>
			</div>

			<!-- snippet_container -->
			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
					// Just change the classes in article element to get different variants
					<article class="card card--vertical card--dismiss">
						// complete code at the bottom of the page
				</script>
			</div>

			<!-- Card with Text Overlay -->
			<h3>Card with Text Overlay</h3>

			<!-- component display container -->
			<div class="comp_container flex-center comp_container--cards">
				<article class="card card--vertical card--text_overlay">
					<div class="card__content flex">
						<header class="card__header flex-center">
							<figure class="card__figure">
								<img
									class="image--responsive"
									src="https://picsum.photos/400/300"
									alt="randomly generated"
								/>
							</figure>
						</header>
						<div class="card__body">
							<div class="card__header_text">
								<h2 class="card__title">Cricket Bag</h2>
								<h3 class="card__subtitle">
									MRF Genius Cameo Senior Cricket Kit Bag
								</h3>
							</div>
							<p class="card__para">
								Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Reic
								iendis sint perspi ciatis
							</p>
							<p class="card__price flex">
								<span class="disc_price">₹1,500</span>
								<span class="original_price">₹2,000</span>
								<span class="pct_disc">25% off</span>
							</p>
						</div>
					</div>
					<div class="card__footer">
						<div class="card__actions">
							<button class="card__button btn btn--outline--primary">
								Add to Cart
							</button>
							<button class="card__button btn btn--primary">Buy Now</button>
						</div>
						<ul class="card__icons">
							<li class="card__list flex-center">
								<a
									href="#"
									class="card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-heart"></i>
								</a>
							</li>
							<li class="card__list">
								<a
									href="#"
									class="card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-share-alt"></i>
								</a>
							</li>
							<li class="card__list">
								<a
									href="#"
									class="options card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-dots-vertical-rounded"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="card__badge ribbon">
						<span>new</span>
					</div>
					<div
						class="card__dismiss dark btn btn--icon btn--close--transparent alert--btn__dismiss btn--circular"
					>
						<i class="bx bx-x"></i>
					</div>
				</article>
			</div>

			<!-- snippet_container -->
			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
					// Just change the classes in article element to get different variants
					<article class="card card--vertical card--text_overlay">
						// complete code at the bottom of the page
				</script>
			</div>

			<!-- Card with only Text -->
			<h3>Card with only Text</h3>

			<!-- component display container -->
			<div class="comp_container flex-center">
				<article class="card card--vertical card--only_text">
					<div class="card__content flex">
						<header class="card__header flex-center">
							<figure class="card__figure">
								<img
									class="image--responsive"
									src="https://picsum.photos/400/300"
									alt="randomly generated"
								/>
							</figure>
						</header>
						<div class="card__body">
							<div class="card__header_text">
								<h2 class="card__title">Cricket Bag</h2>
								<h3 class="card__subtitle">
									MRF Genius Cameo Senior Cricket Kit Bag
								</h3>
							</div>
							<p class="card__para">
								Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Reic
								iendis sint perspi ciatis
							</p>
							<p class="card__price flex">
								<span class="disc_price">₹1,500</span>
								<span class="original_price">₹2,000</span>
								<span class="pct_disc">25% off</span>
							</p>
						</div>
					</div>
					<div class="card__footer">
						<div class="card__actions">
							<button class="card__button btn btn--outline--primary">
								Add to Cart
							</button>
							<button class="card__button btn btn--primary">Buy Now</button>
						</div>
						<ul class="card__icons">
							<li class="card__list flex-center">
								<a
									href="#"
									class="card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-heart"></i>
								</a>
							</li>
							<li class="card__list">
								<a
									href="#"
									class="card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-share-alt"></i>
								</a>
							</li>
							<li class="card__list">
								<a
									href="#"
									class="options card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-dots-vertical-rounded"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="card__badge ribbon">
						<span>new</span>
					</div>
					<div
						class="card__dismiss dark btn btn--icon btn--close--transparent alert--btn__dismiss btn--circular"
					>
						<i class="bx bx-x"></i>
					</div>
				</article>
			</div>

			<!-- snippet_container -->
			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
					// Just change the classes in article element to get different variants
					<article class="card card--vertical card--only_text">
						// complete code at the bottom of the page
				</script>
			</div>

			<!-- Horizontal CARDS -->
			<h3>Horizontal Card</h3>

			<!-- component display container -->
			<div class="comp_container flex-center">
				<article class="card card--horizontal card--dismiss">
					<div class="card__content flex">
						<header class="card__header flex-center">
							<figure class="card__figure">
								<img
									class="image--responsive"
									src="https://picsum.photos/400/300"
									alt="randomly generated"
								/>
							</figure>
						</header>
						<div class="card__body">
							<div class="card__header_text">
								<h2 class="card__title">Cricket Bag</h2>
								<h3 class="card__subtitle">
									MRF Genius Cameo Senior Cricket Kit Bag
								</h3>
							</div>
							<p class="card__para">
								Lorem ipsum dolor sit amet conse ctetur adipi sicing elit.
							</p>
							<p class="card__price flex">
								<span class="disc_price">₹1,500</span>
								<span class="original_price">₹2,000</span>
								<span class="pct_disc">25% off</span>
							</p>
						</div>
					</div>
					<div class="card__footer">
						<div class="card__actions">
							<button class="card__button btn btn--outline--primary">
								Add to Cart
							</button>
							<button class="card__button btn btn--primary">Buy Now</button>
						</div>
						<ul class="card__icons">
							<li class="card__list flex-center">
								<a
									href="#"
									class="card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-heart"></i>
								</a>
							</li>
							<li class="card__list">
								<a
									href="#"
									class="card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-share-alt"></i>
								</a>
							</li>
							<li class="card__list">
								<a
									href="#"
									class="options card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-dots-vertical-rounded"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="card__badge ribbon">
						<span>new</span>
					</div>
					<div
						class="card__dismiss dark btn btn--icon btn--close--transparent alert--btn__dismiss btn--circular"
					>
						<i class="bx bx-x"></i>
					</div>
				</article>
			</div>

			<!-- snippet_container -->
			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
					// Just change the classes in article element to get different variants
					<article class="card card--horizontal card--dismiss">
						// complete code at the bottom of the page
				</script>
			</div>

			<!-- Shopping CARDS -->
			<h3>Shopping Cards</h3>

			<!-- difference added card--shopping classs and share, like and options classes in card__link -->

			<!-- Card Component Code display -->

			<div class="comp_container flex-center comp_container--cards">
				<article class="card card--vertical card--badge card--shopping">
					<div class="card__content flex">
						<header class="card__header flex-center">
							<figure class="card__figure">
								<img
									class="card_img"
									src="https://picsum.photos/400/300"
									alt="randomly generated"
								/>
							</figure>
						</header>
						<div class="card__body">
							<div class="card__header_text">
								<h2 class="card__title">Cricket Bag</h2>
								<h3 class="card__subtitle">
									MRF Genius Cameo Senior Cricket Kit Bag
								</h3>
							</div>
							<p class="card__para">
								Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Reic
								iendis sint perspi ciatis
							</p>
							<p class="card__price flex">
								<span class="disc_price">₹1,500</span>
								<span class="original_price">₹2,000</span>
								<span class="pct_disc">25% off</span>
							</p>
						</div>
					</div>
					<div class="card__footer">
						<div class="card__actions">
							<button class="card__button btn btn--outline--primary">
								Add to Cart
							</button>
							<button class="card__button btn btn--primary">Buy Now</button>
						</div>
						<ul class="card__icons">
							<li class="card__list flex-center">
								<a
									href="#"
									class="card__link btn btn--outline--primary btn--icon btn--circular like"
								>
									<i class="bx bx-heart"></i>
								</a>
							</li>
							<li class="card__list">
								<a
									href="#"
									class="card__link btn btn--outline--primary btn--icon btn--circular share"
								>
									<i class="bx bx-share-alt"></i>
								</a>
							</li>
							<li class="card__list">
								<a
									href="#"
									class="options card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-dots-vertical-rounded"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="card__badge ribbon">
						<span>new</span>
					</div>
				</article>

				<!-- Move to CART  -->
				<article class="card card--vertical card--badge card--shopping">
					<div class="card__content flex">
						<header class="card__header flex-center">
							<figure class="card__figure">
								<img
									class="card_img"
									src="https://picsum.photos/400/300"
									alt="randomly generated"
								/>
							</figure>
						</header>
						<div class="card__body">
							<div class="card__header_text">
								<h2 class="card__title">Cricket Bag</h2>
								<h3 class="card__subtitle">
									MRF Genius Cameo Senior Cricket Kit Bag
								</h3>
							</div>
							<p class="card__para">
								Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Reic
								iendis sint perspi ciatis
							</p>
							<p class="card__price flex">
								<span class="disc_price">₹1,500</span>
								<span class="original_price">₹2,000</span>
								<span class="pct_disc">25% off</span>
							</p>
						</div>
					</div>
					<div class="card__footer">
						<div class="card__actions">
							<button class="card__button btn btn--outline--primary">
								Move to Cart
							</button>
							<button class="card__button btn btn--primary">Buy Now</button>
						</div>
						<ul class="card__icons">
							<li class="card__list flex-center">
								<a
									href="#"
									class="card__link btn btn--outline--primary btn--icon btn--circular like"
								>
									<i class="bx bx-heart"></i>
								</a>
							</li>
							<li class="card__list">
								<a
									href="#"
									class="card__link btn btn--outline--primary btn--icon btn--circular share"
								>
									<i class="bx bx-share-alt"></i>
								</a>
							</li>
							<li class="card__list">
								<a
									href="#"
									class="options card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-dots-vertical-rounded"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="card__badge ribbon">
						<span>new</span>
					</div>
				</article>

				<!-- Go to CART Primary  -->
				<article class="card card--vertical card--badge card--shopping">
					<div class="card__content flex">
						<header class="card__header flex-center">
							<figure class="card__figure">
								<img
									class="card_img"
									src="https://picsum.photos/400/300"
									alt="randomly generated"
								/>
							</figure>
						</header>
						<div class="card__body">
							<div class="card__header_text">
								<h2 class="card__title">Cricket Bag</h2>
								<h3 class="card__subtitle">
									MRF Genius Cameo Senior Cricket Kit Bag
								</h3>
							</div>
							<p class="card__para">
								Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Reic
								iendis sint perspi ciatis
							</p>
							<p class="card__price flex">
								<span class="disc_price">₹1,500</span>
								<span class="original_price">₹2,000</span>
								<span class="pct_disc">25% off</span>
							</p>
						</div>
					</div>
					<div class="card__footer">
						<div class="card__actions">
							<button class="card__button btn btn--outline--primary">
								Go to Cart
							</button>
							<button class="card__button btn btn--primary">Buy Now</button>
						</div>
						<ul class="card__icons">
							<li class="card__list flex-center">
								<a
									href="#"
									class="card__link btn btn--outline--primary btn--icon btn--circular like"
								>
									<i class="bx bx-heart"></i>
								</a>
							</li>
							<li class="card__list">
								<a
									href="#"
									class="card__link btn btn--outline--primary btn--icon btn--circular share"
								>
									<i class="bx bx-share-alt"></i>
								</a>
							</li>
							<li class="card__list">
								<a
									href="#"
									class="options card__link btn btn--outline--primary btn--icon btn--circular"
								>
									<i class="bx bx-dots-vertical-rounded"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="card__badge ribbon">
						<span>new</span>
					</div>
				</article>
			</div>

			<!-- snippet_container -->
			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
					// Just change the classes in article element to get different variants
					<article class="card card--vertical card--shopping">
						// complete code at the bottom of the page
				</script>
			</div>

			<!-- Shopping CARDS -->
			<h3>Shopping Cards Horizontal</h3>

			<!-- difference added card--shopping class, card--horizontal and share, like and options classes in card__link -->

			<!-- Card Component Code display -->

			<div class="comp_container flex-center comp_container--cards">
				<article class="card card--horizontal_v2 card--badge card--shopping">
					<div class="card__content flex">
						<header class="card__header flex-center">
							<figure class="card__figure">
								<img
									class="card_img"
									src="https://picsum.photos/400/300"
									alt="randomly generated"
								/>
							</figure>
						</header>
						<div class="card__body">
							<div class="card__header_text">
								<h2 class="card__title">Cricket Bag</h2>
								<h3 class="card__subtitle">MRF Genius Cameo Senior</h3>
							</div>
							<p class="card__para">
								Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Reic
								iendis sint perspi ciatis
							</p>
							<p class="card__price flex">
								<span class="disc_price">₹1,500</span>
								<span class="original_price">₹2,000</span>
								<span class="pct_disc">25% off</span>
							</p>
							<div class="card__footer">
								<div class="card__actions">
									<button class="card__button btn btn--outline--primary">
										Add to Cart
									</button>
									<button class="card__button btn btn--primary">Buy Now</button>
								</div>
								<ul class="card__icons">
									<li class="card__list flex-center">
										<a
											href="#"
											class="card__link btn btn--outline--primary btn--icon btn--circular like"
										>
											<i class="bx bx-heart"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="card__badge ribbon">
						<span>new</span>
					</div>
				</article>
				
				<!-- Move to CART  -->
				<article class="card card--horizontal_v2 card--badge card--shopping">
					<div class="card__content flex">
						<header class="card__header flex-center">
							<figure class="card__figure">
								<img
									class="card_img"
									src="https://picsum.photos/400/300"
									alt="randomly generated"
								/>
							</figure>
						</header>
						<div class="card__body">
							<div class="card__header_text">
								<h2 class="card__title">Cricket Bag</h2>
								<h3 class="card__subtitle">MRF Genius Cameo Senior</h3>
							</div>
							<p class="card__para">
								Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Reic
								iendis sint perspi ciatis
							</p>
							<p class="card__price flex">
								<span class="disc_price">₹1,500</span>
								<span class="original_price">₹2,000</span>
								<span class="pct_disc">25% off</span>
							</p>
							<div class="card__footer">
								<div class="card__actions">
									<button class="card__button btn btn--outline--primary">
										Move to Cart
									</button>
									<button class="card__button btn btn--primary">Buy Now</button>
								</div>
								<ul class="card__icons">
									<li class="card__list flex-center">
										<a
											href="#"
											class="card__link btn btn--outline--primary btn--icon btn--circular like"
										>
											<i class="bx bx-heart"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="card__badge ribbon">
						<span>new</span>
					</div>
				</article>

				<!-- Go to CART Primary  -->
				<article class="card card--horizontal_v2 card--badge card--shopping">
					<div class="card__content flex">
						<header class="card__header flex-center">
							<figure class="card__figure">
								<img
									class="card_img"
									src="https://picsum.photos/400/300"
									alt="randomly generated"
								/>
							</figure>
						</header>
						<div class="card__body">
							<div class="card__header_text">
								<h2 class="card__title">Cricket Bag</h2>
								<h3 class="card__subtitle">MRF Genius Cameo Senior</h3>
							</div>
							<p class="card__para">
								Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Reic
								iendis sint perspi ciatis
							</p>
							<p class="card__price flex">
								<span class="disc_price">₹1,500</span>
								<span class="original_price">₹2,000</span>
								<span class="pct_disc">25% off</span>
							</p>
							<div class="card__footer">
								<div class="card__actions">
									<button class="card__button btn btn--outline--primary">
										Go to Cart
									</button>
									<button class="card__button btn btn--primary">Buy Now</button>
								</div>
								<ul class="card__icons">
									<li class="card__list flex-center">
										<a
											href="#"
											class="card__link btn btn--outline--primary btn--icon btn--circular like"
										>
											<i class="bx bx-heart"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="card__badge ribbon">
						<span>new</span>
					</div>
				</article>
			</div>

			<!-- snippet_container -->
			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
					// Just change the classes in article element to get different variants
					<article class="card card--vertical card--shopping">
						// complete code at the bottom of the page
				</script>
			</div>

			<!-- Card Component Code display -->
			<h3>Complete Code Snippet for Different Card Variants</h3>
			<!-- snippet_container -->
			<div class="snippet_container">
				<script
					type="text/plain"
					class="line-numbers language-css snippet_container__script"
				>
					// This is complete code of vertical card with badge component,
					// to change the variant just change the classes in article element.
					<article class="card card--vertical card--badge">
						<div class="card__content flex">
							<header class="card__header flex-center">
								<figure class="card__figure">
									<img
										class="card_img"
										src="https://picsum.photos/400/300"
										alt="randomly generated"
									/>
								</figure>
							</header>
							<div class="card__body">
								<div class="card__header_text">
									<h2 class="card__title">Cricket Bag</h2>
									<h3 class="card__subtitle">
										MRF Genius Cameo Senior Cricket Kit Bag
									</h3>
								</div>
								<p class="card__para">
									Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Reic
									iendis sint perspi ciatis
								</p>
								<p class="card__price flex">
									<span class="disc_price">₹1,500</span>
									<span class="original_price">₹2,000</span>
									<span class="pct_disc">25% off</span>
								</p>
							</div>
						</div>
						<div class="card__footer">
							<div class="card__actions">
								<button class="card__button btn btn--outline--primary">
									Add to Cart
								</button>
								<button class="card__button btn btn--primary">Buy Now</button>
							</div>
							<ul class="card__icons">
								<li class="card__list flex-center">
									<a
										href="#"
										class="card__link btn btn--outline--primary btn--icon btn--circular"
									>
										<i class="bx bx-heart"></i>
									</a>
								</li>
								<li class="card__list">
									<a
										href="#"
										class="card__link btn btn--outline--primary btn--icon btn--circular"
									>
										<i class="bx bx-share-alt"></i>
									</a>
								</li>
								<li class="card__list">
									<a
										href="#"
										class="options card__link btn btn--outline--primary btn--icon btn--circular"
									>
										<i class="bx bx-dots-vertical-rounded"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="card__badge ribbon">
							<span>new</span>
						</div>
					</article>
				</script>
			</div>

			<p class="units_instruction">
				<span><b>Note: </b></span><span>Used 10px as root font size.</span>
			</p>
		</main>
		<script src="/src/components/button/button.js"></script>
		<script src="/src/javascript/prism.js"></script>
	</body>
</html>
