.alerts {
	gap: 8px;
}

.alert {
	border-radius: 1rem;
	color: var(--COLOR-WHITE);
	cursor: default;
	font-weight: 500;
	padding: 1.2rem 1.5rem;
	text-align: left;
	width: 100%;
	border: 1px solid;
}

.alert:hover {
	opacity: 0.95;
}

.alert--primary {
	background-color: var(--COLOR-PRIMARY);
	border: 1px solid var(--COLOR-PRIMARY);
}

.alert--secondary {
	background-color: var(--COLOR-SECONDARY);
	color: var(--COLOR-BLACK);
	border: 1px solid var(--COLOR-SECONDARY-DARK);
}

.alert--info {
	background-color: var(--COLOR-INFO);
	border: 1px solid var(--COLOR-PRIMARY);
}

.alert--success {
	background-color: var(--COLOR-SUCCESS);
	border: 1px solid var(--COLOR-PRIMARY);
}

.alert--danger {
	background-color: var(--COLOR-DANGER);
	border: 1px solid var(--COLOR-PRIMARY);
}

.alert--warning {
	background-color: var(--COLOR-WARNING);
	border: 1px solid var(--COLOR-PRIMARY);
}

.alert--dismissable {
	align-items: center;
	display: flex;
	gap: 1rem;
	padding: 0.7rem 1.5rem;
}

.alert i {
	font-size: 2.4rem;
}

.alert--btn__dismiss {
	padding: 0;
	margin-left: auto;
	color: var(--COLOR-WHITE);

	opacity: 0.8;
}

.alert--btn__dismiss:hover {
	opacity: 1;
}

.alert--dismissable:hover {
	opacity: 1;
}
