.modal_container {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(1px);
	z-index: 2;
}

.modal {
	border-radius: 4px;
	border: 1px solid var(--COLOR-BLACK);
	background-color: var(--COLOR-BG);
	max-width: 350px;
	padding: 10px;
}

.modal__header {
	display: flex;
	justify-content: space-between;
}
