.image--responsive {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.image--responsive:hover {
	transform: scale(1.01);
	object-fit: cover;
}

.image--round {
	border-radius: 50%;
}

.image--responsive--max_width {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}
